body {
  background: #1b1c1d !important;
}

.ui.attached.tabular.menu .item, .ui.fluid.vertical.tabular.menu .item, .ui.fluid.tabular.menu .item{
  background: none;
  color: white;

  &.active {
    background: none;
    background-color: rgba(0,0,0, 0.1);
    color: white;
  }

  &:hover {
    color: gray;
  }
}

.ui.bottom.attached.segment.active.tab .item{
  background: none;
  color: white;

  &.active {
    background: none;
    background-color: rgba(0,0,0, 0.3);
    color: white;
  }

  &:hover {
    color: gray;
  }
}

.ui.two.item.menu .item{
  background: none;
  color: white;

  &.active {
    background: none;
    background-color: #333333;
    color: white;
  }

  &:hover {
    color: gray;
  }
}


.ui.two.item.menu {
  background-color: rgba(51,51,51, 0.3);
}


.ui.fluid.tabular.menu {
  margin-bottom: 0;
}

.ui.segment.tab {
  background: none;
}

button.ui.segment {
  background-color: rgba(0,0,0, 0.1);
  color: white;

  .ui.header {
    color: white;
  }

  &:hover, &:active, .active, &:focus {
    background-color: rgba(0,0,0, 0.3);
    color: gray;

    .ui.header {
      color: gray;
    }
  }
}

#beta {
  vertical-align: super;
  color: gray;
  font-size: 1rem;
}

.route {
  width: 2em;
  height: 2em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: .25em;

  &.medium {
    height: 1.75em;
    width: 1.75em;
    font-size: 1.75em;
    line-height: 1.75em;
  }

  &.small {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    display: inline-block;
  }
}

#about-link {
  cursor: pointer;
  color: #4183c4;
}

.line-button{
  .route:first-of-type {
    clear: left;
  }
}

.bullet {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
}

.diamond {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

.diamond-inner {
  transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.ui.menu .item.disabled.sticky-menu-gap {
  color: white!important;

  &:hover, &:active, .active, &:focus {
    color: white!important;
  }
}

.modal .ui.star.rating {
  vertical-align: middle;

  .icon {
    color: #333333;
  }
}

@font-face {
  font-family: 'fontello';
  src: url('data:application/octet-stream;base64,d09GRgABAAAAAAtoAA8AAAAAFIQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABWAAAADsAAABUIIslek9TLzIAAAGUAAAAQwAAAFY+IEl4Y21hcAAAAdgAAABKAAABcOkou6pjdnQgAAACJAAAABMAAAAgBtf/BGZwZ20AAAI4AAAFkAAAC3CKkZBZZ2FzcAAAB8gAAAAIAAAACAAAABBnbHlmAAAH0AAAAO8AAAGmpJl77GhlYWQAAAjAAAAAMAAAADYUUV0GaGhlYQAACPAAAAAeAAAAJAc+A1RobXR4AAAJEAAAAAgAAAAIB9AAAGxvY2EAAAkYAAAABgAAAAYA0wAAbWF4cAAACSAAAAAgAAAAIAEaDBpuYW1lAAAJQAAAAXcAAALNzJ0fIXBvc3QAAAq4AAAAMgAAAEci69u5cHJlcAAACuwAAAB6AAAAhuVBK7x4nGNgZGBg4GIwYLBjYHJx8wlh4MtJLMljkGJgYYAAkDwymzEnMz2RgQPGA8qxgGkOIGaDiAIAJjsFSAB4nGNgZH7BOIGBlYGBqYppDwMDQw+EZnzAYMjIBBRlYGVmwAoC0lxTGBxeMLxgYA76n8UQxRzMMA0ozAiSAwAKeAwWAHic7ZCxDYAwEAPPykOBGIEqNbNQsX/NFsnHwBaxdJZ8+uqBBSjJmQToRoxcaWVf2OyD6psY/qG1v3OHG63M7O7jW/7VC+ot1glxAAB4nGNgQAMSEMgc/D8LhAESdgPfAHicrVZpd9NGFB15SZyELCULLWphxMRpsEYmbMGACUGyYyBdnK2VoIsUO+m+8Ynf4F/zZNpz6Dd+Wu8bLySQtOdwmpOjd+fN1czbZRJaktgL65GUmy/F1NYmjew8CemGTctRfCg7eyFlisnfBVEQrZbatx2HREQiULWusEQQ+x5ZmmR86FFGy7akV03KLT3pLlvjQb1V334aOsqxO6GkZjN0aD2yJVUYVaJIpj1S0qZlqPorSSu8v8LMV81QwohOImm8GcbQSN4bZ7TKaDW24yiKbLLcKFIkmuFBFHmU1RLn5IoJDMoHzZDyyqcR5cP8iKzYo5xWsEu20/y+L3mndzk/sV9vUbbkQB/Ijuzg7HQlX4RbW2HctJPtKFQRdtd3QmzZ7FT/Zo/ymkYDtysyvdCMYKl8hRArP6HM/iFZLZxP+ZJHo1qykRNB62VO7Es+gdbjiClxzRhZ0N3RCRHU/ZIzDPaYPh788d4plgsTAngcy3pHJZwIEylhczRJ2jByYCVliyqp9a6YOOV1WsRbwn7t2tGXzmjjUHdiPFsPHVs5UcnxaFKnmUyd2knNoykNopR0JnjMrwMoP6JJXm1jNYmVR9M4ZsaERCICLdxLU0EsO7GkKQTNoxm9uRumuXYtWqTJA/Xco/f05la4udNT2g70s0Z/VqdiOtgL0+lp5C/xadrlIkXp+ukZfkziQdYCMpEtNsOUgwdv/Q7Sy9eWHIXXBtju7fMrqH3WRPCkAfsb0B5P1SkJTIWYVYhWQGKta1mWydWsFqnI1HdDmla+rNMEinIcF8e+jHH9XzMzlpgSvt+J07MjLj1z7UsI0xx8m3U9mtepxXIBcWZ5TqdZlu/rNMfyA53mWZ7X6QhLW6ejLD/UaYHlRzodY3lBC5p038GQizDkAg6QMISlA0NYXoIhLBUMYbkIQ1gWYQjLJRjC8mMYwnIZhrC8rGXV1FNJ49qZWAZsQmBijh65zEXlaiq5VEK7aFRqQ54SbpVUFM+qf2WgXjzyhjmwFkiXyJpfMc6Vj0bl+NYVLW8aO1fAsepvH472OfFS1ouFPwX/1dZUJb1izcOTq/Abhp5sJ6o2qXh0TZfPVT26/l9UVFgL9BtIhVgoyrJscGcihI86nYZqoJVDzGzMPLTrdcuan8P9NzFCFlD9+DcUGgvcg05ZSVnt4KzV19uy3DuDcjgTLEkxN/P6VvgiI7PSfpFZyp6PfB5wBYxKZdhqA60VvNknMQ+Z3iTPBHFbUTZI2tjOBIkNHPOAefOdBCZh6qoN5E7hhg34BWFuwXknXKJ6oyyH7kXs8yik/Fun4kT2qGiMwLPZG2Gv70LKb3EMJDT5pX4MVBWhqRg1FdA0Um6oBl/G2bptQsYO9CMqdsOyrOLDxxb3lZJtGYR8pIjVo6Of1l6iTqrcfmYUl++dvgXBIDUxf3vfdHGQyrtayTJHbQNTtxqVU9eaQ+NVh+rmUfW94+wTOWuabronHnpf06rbwcVcLLD2bQ7SUiYX1PVhhQ2iy8WlUOplNEnvuAcYFhjQ71CKjf+r+th8nitVhdFxJN9O1LfR52AM/A/Yf0f1A9D3Y+hyDS7P95oTn2704WyZrqIX66foNzBrrblZugbc0HQD4iFHrY64yg18pwZxeqS5HOkh4GPdFeIBwCaAxeAT3bWM5lMAo/mMOT7A58xh0GQOgy3mMNhmzhrADnMY7DKHwR5zGHzBnHWAL5nDIGQOg4g5DJ4wJwB4yhwGXzGHwdfMYfANc+4DfMscBjFzGCTMYbCv6dYwzC1e0F2gtkFVoANTT1jcw+JQU2XI/o4Xhv29Qcz+wSCm/qjp9pD6Ey8M9WeDmPqLQUz9VdOdIfU3Xhjq7wYx9Q+DmPpMvxjLZQa/jHyXCgeUXWw+5++J9w/bxUC5AAEAAf//AA94nGPgYGD4n8X8kjmYgZtBmkGdwZzBmSGYIZ4hnyHZIYFDkImNi5OJnZGNPYGfiYlRmI+JgYeRIUGAkYWFNYKbkZWVx0OIkYeHOYKXkZmZl9kzMSE0RFNDViYzLSE/MS86KiQ+ND7A38Pd2dHG2lBPw1zTTFlJRl1WXVxEVViEVULbXISPUUmP0cSO0ZpRHEgayTGKCkLETIUhEkAhWUZ2IAkUVlaEiBmzQiSAQtqM6lD1glD9zBAJoJAtozlUvSJU/yUZAysDGRkD2UxTKAtIZMqiMGT//YTQTGuJUc3IDqFvUcWUv8HYVAMARi9EdAB4nGNgZGBgAOIzK70y4vltvjJwM78AijDcWNKzCUH/z2J+yRwM5HIwMIFEAW/jDOh4nGNgZGBgDvqfBSRfMDD8/8/8kgEoggKYAIfeBZgAAAPoAAAD6AAAAAAAAADTAAAAAQAAAAIAcAAIAAAAAAACACgAOABzAAAAdAtwAAAAAHicdZDLTsJAFIb/kYsKiRpN3DorAzGWS+ICEhISDGx0QwxbU0ppS0qHTAcSXsN38GF8CZ/Fn3YwBmKb6XznmzNnTgfANb4hkD9PHDkLnDHK+QSn6Fku0D9bLpJfLJdQxZvlMv275QoeEFiu4gYfrCCK54wW+LQscCUuLZ/gQtxZLtA/Wi6Se5ZLuBWvlsv0nuUKJiK1XMW9+Bqo1VZHQWhkbVCX7WarI6dbqaiixI2luzah0qnsy7lKjB/HyvHUcs9jP1jHrt6H+3ni6zRSiWw5zb0a+YmvXePPdtXTTdA2Zi7nWi3l0GbIlVYL3zNOaMyq22j8PQ8DKKywhUbEqwphIFGjrXNuo4kWOqQpMyQz86wICVzENC7W3BFmKynjPsecUULrMyMmO/D4XR75MSng/phV9NHqYTwh7c6IMi/Zl8PuDrNGpCTLdDM7++09xYantWkNd+261FlXEsODGpL3sVtb0Hj0TnYrhraLBt9//u8H7HiEVQB4nGNgYoAALgbsgImRiZGZQbY4JzE5Oz43sQhI5OflJ2cU5eemxieBRHWNGBgA0MYLnAAAeJxj8N7BcCIoYiMjY1/kBsadHAwcDMkFGxlYnTYxMDJogRibuZgYOSAsPgYwi81pF9MBoDQnkM3utIvBAcJmZnDZqMLYERixwaEjYiNzistGNRBvF0cDAyOLQ0dySARISSQQbOZhYuTR2sH4v3UDS+9GJgYXAAx2I/QAAA==') format('woff'),
}
i.icon.slack-icon {
  font-family: "fontello";
}
i.icon.slack-icon:before { content: '\e800'; }
button.ui.medium-icon {
  background-color: white;
  color: rgba(0,0,0,.84);
}
button.ui.slack-icon {
  background-color: #611f69;
  color: white;

  &:hover {
    background-color: #7c3085;
    color: white;
  }
}